
{% extends 'index.html' %} 
{% load static %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
  
  <body>

    <link rel="stylesheet" type="text/css" href="{%static 'home/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css' %}" />
    <link/>
    
    <header>

        
    </header>

 <section>

 <h3 class="resume-title position-top ">Education</h3>
    <div class="resume-item">
            <p class="tekst">30.09.2021-Current--> Web science and technology / Alma Mater Europea</p> <a href ="https://www.almamater.si/ "class="btn btn-info" role="button">ALM</a>
            <p class="tekst">30.09.2020-30.09.2021.--> Criminal justice and security / University of Maribor</p><a href ="https://www.fvv.um.si/en/index.html "class="btn btn-info" role="button">FVV</a>
            <p class="tekst">20.09.2017-08.07.2020.--> Information technology (bacc.techn.inf.) / Baltazar Zaprešić Polytechnic</p><a href ="https://www.bak.hr/hr "class="btn btn-info" role="button">BAK</a>
    </div>

</section>
{% endblock %}

